  h1{
      color: aqua;
  } 
  body{
    background-color: brown;
    background-image: url(./images/belgium.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: contain;
  } 
